.cardsDiv{
    display: flex;
    flex-direction: row;
}
.to-do-output{
    width: 100%;
    height: 2rem;
    margin-bottom: 30px;
    background-color: #242424;
    border-radius: 10px;
    padding-left: 10px;
}
.tick-icon {
    color: rgb(69, 213, 134);
}
.btns{
    margin-left: 12px;
    width: 5%;
    height: 2.3rem;
    border-color: #242424;
    background-color: #242424;
}
.btns:hover{
    background-color: gray;
    cursor: pointer;
}

.read-only {
    background-color: #242424;
}
  
.editable {
    background-color:  rgb(0, 0, 0);/* Example background color for editable */
}

.star{
    color: yellow;
}


@media screen and (max-width: 768px) {
    .to-do-output {
      width: 100%;
    }
  }
  
  /* Card.css */
  
  /* For screens smaller than 768px */
  @media screen and (max-width: 768px) {
    .cardsDiv {
      flex-direction: column;
    }
    .btns {
      margin-left: 0;
      width: 100%;
      margin-top: 10px; /* Add margin top for spacing */
    }
  }